$bg-color: #ddd;
$accent-color: #55f;
$accent-color-highest: #88f;
$button-color: #5f5;
$blocked-button-color: #aaa;
$text-color: #333;
$bubble-color-recipient: #ccf;
$bubble-color-user-1: #62f;
$bubble-color-user-2: #92f;